<!DOCTYPE html>
<html>
  <head>
    <title>KgCal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      </header>
        <div class='container-fluid'>
          <%= render 'layouts/messages' %>
          <%= yield %>
          <div id='remote_container'></div>
        </div>
  </body>
</html>
